<html>
    {% include "header.html" %}
    <div class="pure-g">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5">
            <table class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th></th>
                        <th>name</th>
                        <th>wins</th>
                        <th>losses</th>
                        <th>points for</th>
                        <th>points against</th>
                    </tr>
                </thead>
                {% for s in standings -%}
                <tr>
                    <td><img class="pure-img avatar" src="https://sleepercdn.com/avatars/{{ s.user.avatar }}" /></td>
                    <td><a href="/user/{{ s.user.id }}">{{ s.user.name }}</a></td>
                    <td>{{ s.roster.wins }}</td>
                    <td>{{ s.roster.losses }}</td>
                    <td>{{ s.roster.fpts }}.{{ s.roster.fpts_decimal }}</td>
                    <td>{{ s.roster.fpts_against }}.{{ s.roster.fpts_against_decimal }}</td>
                </tr>
                {%- endfor %}
            </table>
        </div>
        <div class="pure-u-1-5"></div>
        </div>
    </div>
    {% include "footer.html" %}
</html>
